.box {
  position: sticky;
  bottom: 0;
  padding: 1.6rem 2.4rem 2.4rem;
  background-color: #fff;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.totalItems {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.6rem;
  height: 2.6rem;

  border: 1px solid #fff;
  border-radius: 50%;
}
